<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{forecast}}</p>
    <p>{{location}}</p>
  </body>
</html>
